

#icandy {
	background-image: url("planet-earth.jpg");
	background-repeat: no-repeat;
	background-color: transparent;
	position: absolute;
	top: 370px;
	left: 440px;
	width: 275px;
	height: 275px;
}

body {
    margin-top: -13px;  // offset to mimic original pages
}

p, dd {
	display: table;
	background-color: #EEE;
}

xmp {
	margin-left: 187px;
}

.reset {
	margin: -15px 0 0 0;
	padding: 0;
}

a:link {
	color: #017541;  // greenish
}

a:hover {
	color: #0E0;	// bright green
}

a:visited:hover {
	color: orange;
}

a:active,
a:visited:active {
	color: red;
}

a:visited {
	color: #972;	//  light brownish
}

